<!DOCTYPE html>
<html>
<head>
  <title>Yelporda</title>
  
  <%= render 'layouts/bootstrap'%>
<<<<<<< HEAD
 
=======
>>>>>>> 3f2d3137c8bf7aefe80af1f72b3386ed5aa94fc4
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  
  
  
</head>
<body>
	
<%= render 'layouts/navbar'%>

	<div class="container-fluid">
<<<<<<< HEAD
     <p class="notice"><%= notice%></p>                                                         
       <p class="alert"><%= alert %></p>
=======
>>>>>>> 3f2d3137c8bf7aefe80af1f72b3386ed5aa94fc4

		<%= yield %>
		<%= render 'layouts/footer'%>

	</div>

</body>
</html>
